
#mainPicture{
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    padding: 20px;
}
*{
    margin: 0;
    border: 0;

}
body{
    align-items: center;
    align-content: center;
    background: radial-gradient(#05fbfb, #29abe3);
}

.search-container {


    align-items: center;
    align-content: center;
    height: 70px;
    width: 400px;
    border-radius: 20px;
    display: flex;
    border: darkred solid;
    margin: auto;
    background-color: white;

}

#pokeball:hover{
    transform: scale(1.2);
}

#pokeball{
    height: 50px;
    width: 50px;
}


input {
    text-align: center;
    height: 50px;
    width:150px;
    border-radius: 4px;
    flex: 1;
    align-self: center;
    font-size: 16px;
    padding: 0;
}




@media all {
    div#pokedex
    {
        width: 750px;
        margin: 50px auto 0 auto;
    }

    div#left
    {
        width: 400px;
        height: 500px;
        float: left;
        position: relative;
        z-index: 1;
    }

    div#right
    {
        width: 350px;
        height: 500px;
        float: left;
        position: relative;
    }

    div#curve1_left
    {
        width: 201px;
        height: 85px;
        background-color: #8b0000;
        float: left;
        padding: 15px 0 0 15px;

        position: absolute;
        top: 0;
        left: 0;
        border-radius: 30px;

    }


    div#bg_curve1_left
    {
        width: 400px;
        height: 80px;
        background-color: #8b0000;

        border-top-left-radius: 30px;

    }

    div#curve2_left
    {
        width: 216px;
        height: 451px;
        background-color: #c00d0d;
        float: right;

        position: absolute;
        bottom: 0;
        right: 0;

        border-top-left-radius:85px 60px;

    }

    div#bg_curve2_left
    {
        width: 400px;
        height: 420px;
        background-color: #c00d0d;

        box-shadow: -10px 9px #5e0000;


        border-bottom-left-radius: 30px;

    }

    div#buttonGlass
    {
        width: 60px;
        height: 60px;
        margin-right: 15px;
        border: 5px solid #fff;
        float: left;
        box-shadow: 0 0 10px #490000;
        background: radial-gradient(#05fbfb, #29abe3);
        border-radius: 35px;
    }

    div#miniButtonGlass1
    {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        float: left;
        box-shadow: 0 0 10px #490000;
        border-radius: 20px;
        background: radial-gradient(#fb7b7b, #fb0505);
    }

    div#miniButtonGlass2
    {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        float: left;
        box-shadow: 0 0 10px #490000;
        border-radius: 20px;
        background: radial-gradient(#fbfb9b, #fbfb05);
    }

    div#miniButtonGlass3
    {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        float: left;
        box-shadow: 0 0 10px #490000;
        border-radius: 20px;
        background: radial-gradient(#b0fb7b, #50fb05);
    }

    div#junction
    {
        width: 60px;
        height: 451px;
        float: right;
        background: linear-gradient(left, #8b0000 0%, #c00d0d 50%, #8b0000 100%);
        background: -webkit-linear-gradient(left, #8b0000 0%, #c00d0d 50%, #8b0000 100%);
    }

    div#screen
    {
        height: 245px;
        width: 260px;
        padding: 0 20px;
        background-color: white;
        border: #111111 solid;
        margin-left:auto;
        margin-right: auto;
        position: absolute;
        top: 130px;
        left: 19px;
        border-radius: 15px;
        align-items: center;
        display: grid;
        grid-template-rows: 1fr;

    }

    div#picture
    {
        height: 175px;
        width: 254px;
        margin-top: 20px;
        margin-bottom: 9px;
        background-color: #fff;
        border: 3px solid #494949;
        clear: both;
        border-radius: 15px;
    }
    div#picture img
    {
        display: grid;
        margin: 0 auto;
        height: 170px;
    }

    div#resetButton
    {
        height: 50px;
        width: 50px;

        position: absolute;
        top: 395px;
        left: 50px;

        background:radial-gradient(darkblue, blue);
        border-radius: 25px
    }



    div#cross
    {
        width: 90px;
        height: 90px;

        position: absolute;
        top: 394px;
        left: 230px;
    }

    div#topcross
    {
        width: 30px;
        height: 30px;
        background-color: #222;
        position: absolute;
        top: 0;
        left: 30px;
        box-shadow: -3px 2px #010101;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

    }

    div#leftcross
    {
        width: 30px;
        height: 30px;
        background-color: #222;
        z-index: 1;
        position: absolute;
        left: 0;
        top: 30px;
        box-shadow: -3px 2px #010101;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

    }

    div#midcross
    {
        width: 30px;
        height: 30px;
        background-color: #222;
        position: absolute;
        top: 30px;
        left: 30px;
        box-shadow: -3px 2px #010101;
    }

    div#rightcross
    {
        width: 30px;
        height: 30px;
        background-color: #222;
        position: absolute;
        top: 30px;
        right: 0;
        box-shadow: -3px 2px #010101;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    div#botcross
    {
        width: 30px;
        height: 30px;
        background-color: #222;
        position: absolute;
        bottom: 0;
        left: 30px;
        box-shadow: -3px 2px #010101;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    div#upT
    {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #111;
        position: absolute;
        top: 5px;
        left: 4px;
    }

    div#downT
    {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #111;

        position: absolute;
        bottom: 5px;
        left: 4px;
    }

    div#leftT
    {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-right: 10px solid #111;
        border-bottom: 10px solid transparent;
        position: absolute;
        top: 5px;
        left: 4px;
    }

    div#rightT
    {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 10px solid #111;
        border-bottom: 10px solid transparent;
        position: absolute;
        top: 5px;
        right: 5px;
    }

    div#curve1_right
    {
        width: 166px;
        height: 451px;
        background-color: #c00d0d;
        float: right;
        position: absolute;
        bottom: 0;
        left: 0;
        border-top-right-radius:85px 60px;

    }


    div#bg_curve1_right
    {
        width: 350px;
        height: 80px;
        border-top-right-radius: 30px;
    }

    div#curve2_right
    {
        width: 216px;
        height: 100px;
        float: left;
        position: absolute;
        top: 0;
        right: 0;
        border-bottom-left-radius: 85px 60px;

    }

    div#bg_curve2_right
    {
        width: 350px;
        height: 420px;
        background-color: #c00d0d;
        border-bottom-right-radius: 30px;
        box-shadow: -10px 9px #5e0000;
    }
    div#nameBox
    {
        width: 140px;
        height: 70px;
        z-index: 1;
        background-color: #ffff00;
        position: absolute;
        top: 120px;
        left: 25px;
        border-radius: 15px;
        box-shadow: 0 0 20px #ff6600 inset;
        align-content: center;
        grid-template-rows: 1fr;
        text-align: center;


    }

    div#IDBox
    {
        grid-template-rows: 1fr;
        width: 140px;
        height: 70px;
        background-color: #ffff00;
        position: absolute;
        top: 120px;
        left: 185px;
        border-radius: 15px;
        box-shadow: 0 0 20px #ff6600 inset;
        text-align: center;
        align-content: center;



    }

    div#Evolutions {
        z-index: 1;
        position: absolute;
        top: 200px;
        left: 25px;
        height: 140px;
        width : 280px;
        padding: 10px;
        border-radius: 10px;
        border: black solid;
        background-color: white;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        text-align: center;
        align-content: center;
        align-items: center;
    }


    div.evo1:hover {
        cursor: pointer;
        background: gray;
        border-radius: 10%;
    }
    .evo1,img:first-child{
        height: 100px;
    }

    div#pokeMovements
    {
        display: grid;
        grid-template-columns: 1fr;
        height: 90px;
        width: 280px;
        padding: 10px;
        background-color: #30da0c;
        z-index: 1;
        font-size: 13px;
        font-family: arial, sans-serif;
        position: absolute;
        top: 375px;
        left: 25px;
        border-radius: 15px;
        box-shadow: 0 0 20px #003300 inset;
    }
    div#pokeMovements>h4{
        text-align: center;
    }
}